*.mak
*.mak.vpc_crc
*.vpc_crc
*.vpc.*
*.project
*obj_*
.waf*
.lock-waf*
__pycache__
*.pyc
.vs/
Debug/
Debug_*/
Release/
Release_*/
*.tlog/
*.obj
*.pch
*.log
*.idb
*.pdb
*.rc
*.bin
*.vcxproj*
*.sln
*.dll*
*.exp
*.ilk
ValveETWProviderEvents.h
game/client/*/client.lib
game/server/*/server.lib
.DS_Store
build*/
out*/
.cache/
.ccache/
waf3*/
.vscode/
.depproj/
source-engine.sln

3/
SDL3/
thirdparty/SDL/SDL_asyncio.h
thirdparty/SDL/SDL_begin_code.h
thirdparty/SDL/SDL_camera.h
thirdparty/SDL/SDL_close_code.h
thirdparty/SDL/SDL_dialog.h
thirdparty/SDL/SDL_dlopennote.h
thirdparty/SDL/SDL_gamepad.h
thirdparty/SDL/SDL_gpu.h
thirdparty/SDL/SDL_guid.h
thirdparty/SDL/SDL_hidapi.h
thirdparty/SDL/SDL_init.h
thirdparty/SDL/SDL_intrin.h
thirdparty/SDL/SDL_iostream.h
thirdparty/SDL/SDL_main_impl.h
thirdparty/SDL/SDL_oldnames.h
thirdparty/SDL/SDL_pen.h
thirdparty/SDL/SDL_platform_defines.h
thirdparty/SDL/SDL_process.h
thirdparty/SDL/SDL_properties.h
thirdparty/SDL/SDL_storage.h
thirdparty/SDL/SDL_time.h
thirdparty/SDL/SDL_tray.h